.slider {
    .slider_list {
        max-width: 100%;
        overflow: hidden;
        .slick-dots {
            position: absolute;
            bottom: 15px;
            li {
                margin: 0 4px;
                button {
                    height: 8px;
                    width: 8px;
                    background: rgba(242, 224, 65, 0.2);
                    transform: rotate(45deg);
                    &::before {
                        content: ''
                    }
                }
                &.slick-active {
                    button {
                        background: $general-color;
                        box-shadow: 0px 0px 10px #B39E54;
                    }
                }
                &:hover {
                    button {
                        height: 10px;
                        width: 10px;
                        background: $general-color;
                        box-shadow: 0px 0px 10px #B39E54;
                    }
                }
            }
            .slick-arrow {
                width: 28px;
                height: 28px;
                background: rgba(242, 224, 65, 0.1);
                border: 1px solid rgba(255, 215, 137, 0.3);
                transform: matrix(-0.71, 0.71, 0.71, 0.71, -5, -6);
            }
            .slick-prev {
                position: absolute;
                top: -50%;
                left: 15px;
                &:hover, &:focus {
                    background: $general-color;
                    box-shadow: 0px 0px 10px #B39E54;
                }
                &::before {
                    content: '\2039';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(10%, -40%) rotate(133deg);
                }
            }
            .slick-next {
                &:hover, &:focus {
                    background: $general-color;
                    box-shadow: 0px 0px 10px #B39E54;
                }
                &::before {
                    content: '\203A';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-10%, -40%) rotate(133deg);
                }
            }
        }
        .slider_item {
            position: relative;
            width: 100%;
            .slider_item-bg {
                width: 100%;
                height: 800px;
                max-height: 50vh;
                background-color: #000000;
            }
            .slider_item-content {
                position: absolute;
                top: 30%;
                left: 30%;
                transform: translate(-30%, -30%);
                width: 30%;
                max-width: 600px;
                text-align: left;
                color: #eee;
                .title {
                    color: #eee;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 48px;
                    margin: 0;
                    span {
                        display: block;
                        color: $general-color;
                    }
                }

                .intro {

                }
                button {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 12px;
                    &:hover {
                        background-color: $general-color;
                        color: #ffffff;
                        border-color: $general-color;
                    }
                }
                @include tablet {
                    .title {
                        font-size: 36px;
                    }
                    .intro {
                        font-size: 14px;
                    }
                }
                @media (max-width: 914px) {
                    .title {
                        font-size: 18px;
                    }
                    .intro {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

